body {
	color: black;
	background: white;
	font-family: 'Inconsolata', ;
	font-size: 100%;
	font-weight: 400;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: blue;
  text-decoration: none;
	color: red;
	text-decoration: none;
  }
  a:hover {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid blue;
  }
  a:active {
	color: blue;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}